{% extends '@CeradTourn/Layout.html.twig' %}

{% block content %}
   
<h3>Create New Zayso Account</h3>

{% include '@CeradTourn/UserPerson/Create/UserPersonCreateForm.html.twig' %}
{% include '@CeradTourn/UserPerson/Create/UserPersonCreateHelp.html.twig' %}

{% endblock %}{# end content block #}
