{% extends '@CeradTourn/Layout.html.twig' %}
{% block content %}
<h1>Home</h1>
<p> 
    Signup for games by clicking on: <a href="{{ path('cerad_tourn__referee_schedule__show') }}">Referee Schedule</a> 
</p>
{% endblock %}
